{% load static %}
<footer class="footer_box">
          <div class="footer_box_container">
              <div class="row justify-content-center" >
                  <div class="col-lg-10">
                      <div class="row justify-content-center">
                        <div class="col-12 col-md-4">
                            <p class="footer_head">Contact</p>
                            <a class="footer_link" href="{% url "about" %}">About</a>
                            <a class="footer_link" href="{% url "news" %}">Press</a>
                            <a class="footer_link" href="{% url "partners" %}">Partners</a>
                        </div>
                          <div class="col-lg-4">
                            <p class="footer_head">Company</p>
                            <a class="footer_link" href="{% url "faq" %}">Help | FAQ’s</a>
                            <a class="footer_link" href="">Mobile Booking</a>
                            <a class="footer_link" href="{% url "subscription" %}">Subscripitons</a>
                        </div>
                          <div class="col-lg-4">
                            <p class="footer_head">More</p>
                            <a class="footer_link" href="">Advertising</a>
                            <a class="footer_link" href="">Airline Fees</a>
                            <a class="footer_link" href="{% url "feedback" %}">Feedback</a>
                        </div>
                      </div>
                  </div>
              </div>
              <div class="divider-30"></div>
              <div class="row justify-content-center">
                  <div class="col-lg-4">
                      <div class="text-center">
                          <a class="mr-5 ml-5" href="#">Terms</a>
                          <a class="mr-5 ml-5" href="#">Privacy</a>
                      </div>
                  </div>
              </div>
              <div class="divider-30"></div>
              <div class="row justify-content-center">
                  <div class="col-lg-4">
                      <div class="text-center">
                            <a class="mr-2 ml-2" href=""><i class="fa fa-facebook icon_social"></i></a>
                            <a class="mr-2 ml-2" href=""><i class="fa fa-instagram icon_social"></i></a>
                            <a class="mr-2 ml-2" href=""><i class="fa fa-twitter icon_social"></i></a>
                        </div>
                  </div>
              </div>
              <div class="row justify-content-center text_bottom_box">
                  <div class="col-lg-8">
                      <div class="row justify-content-center">
                          <p class="footer_lower_text" style="text-align:center; width: 640px; ">Save time and money when booking with Wanderift. Subscribe and always pay the same price for your flight when booking with tokens.</p>
                      </div>
                  </div>
              </div>
              <div class="row justify-content-center text_bottom_box">
                  <div class="col-lg-8">
                      <div class="row justify-content-center">
                          <a class="custom_img_link" href=""><img class="img_logo" style="width: 140px;" src="{% static "images/Wanderift-Logo.png" %}" alt="logo"></a>
                      </div>
                  </div>
              </div>
          </div>
      </footer>
