.container.results-container {
    max-width: 1400px;
}
.dark-text {
    color: #2f3335;
}
.rotated-plane-icon {
    transform: rotate(135deg);
  /* Safari */
  -webkit-transform: rotate(135deg);
  /* Firefox */
  -moz-transform: rotate(135deg);
  /* IE */
  -ms-transform: rotate(135deg);
  /* Opera */
  -o-transform: rotate(135deg);
}

.duration-indicator {
    right: 20px;
    bottom: -10px;
    background-color: white;
    padding: 0 10px;
}
@media screen and (min-width: 992px) {
    .s-sidebar {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .sticky-item {
        position: -webkit-sticky;
        position: sticky;
        top: 275px;
        padding: 0 15px;
    }
}

.load-more-button {
    width: 100%;
    background-color: white;
    border: 1px solid #dfdfdf;
    padding: 15px 0;
    font-weight: bold;
    border-radius: 4px;
}

@media only screen and (max-width: 992px) {
  #mobileIndicator { display: none; }
    .search-results-buttons {
        font-size: 0.9em;
        width: auto;
    }
    .search-results-buttons .search_btn {
        padding: 7px 5px;
    }
}

