{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Wanderift | Under Construction</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>


<div class="container pt-5">
    <div class="row pt-5 mt-4">
        <div class="col-12">
            <img src="{% static "images/Logo.png" %}" alt="Wanderift" width="140">
        </div>
        <div class="col-12 col-md-8 pt-4 d-flex flex-column justify-content-center">
            <h1 class="pt-4" style="font-size: 3.3em;">We're making some updates!</h1>
        </div>
        <div class="col-12 col-md-4 text-center">
            <img src="{% static "images/airplane.png" %}" alt="Airplane">
        </div>
        <div class="col-12 pt-5">
            <h3 class="pt-2" style="line-height: 2;">Hold on while we make some updates, we're always striving to make
                <br> Wanderift the best flight booking platform, check back soon for better <br> booking!</h3>
        </div>
    </div>
</div>


</body>
</html>